.header-item{
   padding-left: 7.3rem;
    padding-right: 1rem;
    padding-top: 30px;
    color: white;
}

body{
    margin: 0px;
}

.header{
    margin: 0px;
    
    background-color: #fff;
    background-image: linear-gradient(60deg, #ff6596, #60bef8,#d88cff);
    background-size: 600%,600%;
    animation: bgAnimationGradient 15s infinite linear;
}

@keyframes bgAnimationGradient {
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}


.header-items span{
    color: white;
    font-family: 'Noto Serif', serif;
}
/* .header-items span:hover{
    text-transform: uppercase;
} */

.header-items{
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    
}

@media (max-width:998px){
    .header-items{
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .header-item{
        height: 30px;
    }
    .header-items span{
        font-size: 30px;
    }
    .header-text-1, .header-typewriter, .header-text-2{
        font-size: 1.5rem;
    }
    
 }

.header-item:hover{
    height: 20px;
    text-transform: uppercase;
    
}



.header-text-1,.header-text-2{
   color: white;
    font-family: 'Poppins', sans-serif;   
}

.header-text-1{
    font-size: 3.5rem;
    margin: 0px;
    padding-left: 0.5rem;
}

.header-text-2{
    font-size: 2.5rem;
    margin: 0px;
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

.header-typewriter{
    color: aquamarine;
    text-transform: uppercase;
    font-size: 3rem;
}





.header-search{
    display: flex;
    gap: 7.5rem;
    padding-left: 10rem;
    padding-top: 0.5rem ;
    padding-bottom: 0.5rem;
    margin-top: 1rem;
    border: 2px solid black;
    border-radius: 50px;
}

.date-item{
    cursor: pointer;
}

.header-search-item span,input{
    padding-left: 20px;
}

.header-search-item span{
    color: grey;
}

.header-search-item button{
    border: #d88cff;
    border-radius: 30px;
    font-size: medium;
}

.icon:hover
{
    height: 20px;
    
}
.header-search-item input{
    border: none;
    outline: none;
}

.date-input{
    position: absolute;
    top: 250px;
    left: 370px;
}


.options{
    position: absolute;
    top: 22rem;
    right: 11.1rem;
    background-color: whitesmoke;
    padding: 0.9rem;
    display: flex;
}

.option-item span{
    font-weight: 900;
    color: black;
}

.option-button-counter{
    background-color:aquamarine;
    border-radius: 50px;
}
