.header-item{
   padding-left: 7.3rem;
    padding-right: 1rem;
    padding-top: 30px;
    color: white;
}

body{
    margin: 0px;
}

.header{
    margin: 0px;
    height: 250px;
    background-color: #fff;
    background-image: linear-gradient(60deg, #ff6596, #60bef8,#d88cff);
    background-size: 600%,600%;
    animation: bgAnimationGradient 15s infinite linear;
}

@keyframes bgAnimationGradient {
    0%{
        background-position: 0 85%;
    }
    50%{
        background-position: 100% 20%;
    }
    100%{
        background-position: 0% 85%;
    }
}


.header-items span{
    color: white;
    font-family: 'Noto Serif', serif;
}
.header-items span:hover{
    text-transform: uppercase;
}

.header-items{
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    margin-bottom: 30px;
    
}

.header-search{
    display: flex;
    gap: 7.5rem;
    margin-left: 10rem;
    margin-top: 2rem;
}

.date-item{
    cursor: pointer;
}

.header-search-item span,input{
    padding-left: 20px;
}

.header-search-item input{
    border: none;
    outline: none;
}

.date-input{
    position: absolute;
    top: 250px;
    left: 370px;
}